*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Callibre';
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ccc;
    flex-direction: column;
}
.tarefa-area {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.tarefa-head {
    display: flex;
    justify-content: space-between;
    height: 20px;
    background-color: #6b9080;
    width: 90%;

}
.dayName {
    width: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid #eaf4f4;
    font-size: 70%;
}
.tarefa-body {
    background-color:#f6fff8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.tarefa-item {
    width: 20%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid #cce3de;
    cursor: pointer;
    flex-direction: column;
}
.tarefa-item .texto {
    font-size: 18px;
}
.tarefa-item .pessoa {
    margin-top: 20%;
    font-size: 13px;
    font-style: italic;
}
.tarefa-item:hover {
    background-color:#eaf4f4;
}
.modal-area {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.637);
    justify-content: center;
    align-items: center;
}
.modal-window {
    background-color: #6b9080;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    display: flex;
}
.modal-conteudo {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.modal-conteudo h2 {
    font-size: 15px;
    margin-bottom: 5px;
}
.modal-conteudo form {
    display: flex;
    flex-direction: column;
}
.modal-area .radios label {
    margin-left: 5px;
}
button {
    margin-top: 10%;
}
#text {
    margin-bottom: 5%;
}
@media (min-width:270px) and (max-width:670px) {
    .tarefa-item .pessoa {
        margin-top: 20%;
        font-size: 8px;
        font-style: italic;
    }
    .tarefa-item .texto {
        font-size: 10px;
    }
    .tarefa-item {
        height: 60px;
    }
}